*{
    padding: 0%;
    margin: 0%;
}
body{
    background-image: url("images/fondo.png");
}
.logo img{
    width: 200px;
}
.logo{
    text-align: center;
}
.name{
    text-align: center;
    font-family: 'Mali', cursive;
    font-weight: bold;
    color:#872720;
    font-size: 30px;
}
header a{
    padding: 3px;
    display: block;
    text-decoration: none;
    padding-top:15px;
    font-size: 20px;
    color: #872720;
    
}
header{
    background-image: url("/images/fondo.png");
    text-align: center;
}
footer{
    background-image: url("./images/fondo.png");
    display: block;
    height: 300px;
    text-align: center;
    margin-top: 30px;
}
footer h4{
    padding-bottom: 20px;
}
.ico{
    display: inline;
}

#whastapp a img {
    padding: 3px;
    width: 20px;
    background-color: #25d366;
    border-radius: 5px;
    border: solid 1px black;
}
#facebook a img {
    padding: 3px;
    width: 20px;
    background-color: #1877f2 ;
    border-radius: 5px;
    border:solid black 1px;
}
#mail a img {
    width: 20px;
    border-radius: 5px;
    border:solid black 1px;
    background-color: #e4002b ;
    padding: 3px;
}
.anchors:hover{
    border-bottom: #872720 2px solid;
}
