*{
    padding: 0%;
    margin: 0%;
}
body{
    background-image: url("/fondo.png");
}
.logo img{
    width: 200px;
}
.logo{
    text-align: center;
}
.name{
    text-align: center;
    font-family: 'Mali', cursive;
    font-weight: bold;
    color:#872720;
    font-size: 30px;
}
header a{
    padding: 3px;
    display: block;
    padding-top:15px;
    font-size: 20px;
    color: #872720;
    text-decoration: none;
    background-position: 0% 100%;
   /*  background-repeat: no-repeat; */
    background-size: 0% 2px;
    transition: background-size .3s;
    
}
header{
    text-align: center;
}
footer{ 
    display: block;
    height: 300px;
    text-align: center;
    margin-top: 30px;
}
footer h4{
    padding-bottom: 20px;
    font-family: 'Mali', cursive;
    color:#872720;
    font-size: 30px;
    height: 30px;
    background-color: rgba(188, 97, 97, 0.66);
    margin-bottom: 30px;
}
.ico{
    display: inline;
}

#whastapp a img {
    padding: 3px;
    width: 30px;
    background-color: #25d366;
    border-radius: 5px;
    border: solid 1px black;
}
#facebook a img {
    padding: 3px;
    width: 30px;
    background-color: #1877f2 ;
    border-radius: 5px;
    border:solid black 1px;
}
#mail a img {
    width: 30px;
    border-radius: 5px;
    border:solid black 1px;
    background-color: #e4002b ;
    padding: 3px;
}
.anchors:hover{
    background-size: 100% 2px;
}
.ico a  :hover{
    box-shadow: 5px 5px 1px black;
}

a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    /* transition: background-size .3s; */
}
.logo img :hover{
    
}
